{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}
<!-- this gives the path aka the url of the page -->
<!-- {{request.path}}  -->

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block page_header%}

<!-- Page Header-->
<header class="masthead" style="{% if request.path == '/about/' %} background-image:url('{{STATIC_URL}}img/about-bg.jpg') {% elif request.path == '/contact-me/' %} background-image:url('{{STATIC_URL}}img/contact-bg.jpg') {% endif %}">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Shalom! </h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>




{% endblock page_header%}

{% block main %}
{% endblock %}
